.pagination {
    display: inline-block;
}
.pagination a {
    color: #873600 ;
    float: left;
    padding: 8px 16px;
    text-decoration: none;
    transition: background-color 1s;
    border: 1px solid #873600 ;
    margin: 0 4px;
    background-color: white;
    border-radius: 5px;
}
.pagination a.active {
    background-color: #16A085 ;
    color: white;
    border: 1px solid #0B5345 ;
}
.pagination a:hover:not(.active) {
    background-color: #B2BABB;
}